@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 1%;
}

.container {
    width: 85%;
    margin: auto;
}